:root {
  --mag-component-border-color: var(--el-border-color-light);
  --mag-component-border-light-color: #EBEEF5;
  --mag-component-height: 32px;
  --mag-font-size-base: 14px;
  --mag-font-size-small: 14px;
  --mag-font-size-extra-small: 12px;
  --mag-font-size-medium: 15px;
  --mag-font-size-large: 16px;
  --mag-view-header-text-size: 18px;
  --mag-view-header-text-weight: 400;
  --mag-view-header-text-color: #606266;
  --mag-view-header-background-color: #FFFFFF;
  --mag-view-base-border-radius: 4px;
  --mag-view-base-padding: 6px;
  --mag-view-header-height: 45px;
  --mag-view-min-height: 48px;
  --mag-view-bars-height: 40px;
  --mag-view-footer-height: 40px;
  --mag-view-thead-height: 40px;
  --mag-view-thead-small-height: 36px;
  --mag-view-thead-large-height: 56px;
  --mag-view-thead-background-color: #F5F7FA;
  --mag-view-footer-background-color: #F5F7FA;
}
